/* Changes overall font of Home Page */
.home {
    width: 100%;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #3e497a;
  }
  
  /* Changes the bio right under "Hi I'm Philip" */
  .about {
    width: 100%;
    height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #21325e;
    color: #f0f0f0;
  }
  
  
  /* Changes Hi Im Philip */
  .about h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 75px;
    color: #e9d35b;
    height: 20px;
  }
  
  .about .prompt {
    width: 40%;
    font-size: 30px;
  }
  
  /* changes logos under short bio */
  .prompt svg {
    font-size: 60px;
    margin: 5px;
    color: white;
  }
  
/* changes skills including technical skills, languages etc*/
  .skills {
    font-size: 25px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  
  .skills h1{
    color: #3e497a;
    height: 0px;
  }

  /* Gets ride of bullets */
  ol li {
    list-style-type: none!important;
  }
  
  .skills .list {
    list-style-type: none!important;
    width: 60%;
  }
  
  /* Changes list sizes e.g. C++, python */
  .list span {
    font-size: 30px;
  }
  
  @media only screen and (max-width: 600px) {
    .about h2 {
      font-size: 40px;
    }
  
    .about .prompt {
      margin-top: 10px;
      font-size: 20px;
      width: 80%;
    }
  
    .skills {
    
    }
    
    .list {
      padding: 0;
      
    }
  
    .skills h2 {
      font-size: 30px;
    }
  }